<div id="navbar">
    <div class="navbar-1">
        <div class="nav-left">
            <img onclick="window.location.href='/home'" src="/images/logoname.png" alt="logo">
        </div>


        <!-- Media 850px -> Start -->
         <div class="search-box m-hidden-850 m-hidden-600">
            <div class="search-box-input-group">
                <input id="search-box-input-1" type="text" placeholder="Search destination">
            </div>
            <i class="ri-search-line search-icon"></i>
        </div>
        <!-- Media 850px -> end -->


        <div class="nav-center search-hidden">
            <div class="nav-center-option" onclick="window.location.href='/home'">
                <img src="/images/home.png">
                <p>Homes</p>
            </div>
            <div class="nav-center-option">
                <img src="/images/experience.png">
                <p>Experiences</p>
            </div>
            <div class="nav-center-option">
                <img src="https://res.cloudinary.com/dypp4lo45/image/upload/v1760748429/services_erxka4.png">
                <p>Services</p>
            </div>
        </div>
        <div class="nav-right">
            <p onclick="window.location.href='/home/create'">Become a host</p>
            <i class="ri-donut-chart-fill"></i>
            <div class="dropdown-wrapper">
                <i id="userDropdownbtn" class="ri-menu-fill" tabindex="0"></i>
                <div class="userDropdown">
                    <div>
                        <p tabindex="0" onclick="window.location.href='/home/create'">Become a host</p>
                    </div>
                    <hr style="color: #f1f1f1;">
                    <% if(!currUser) { %>
                        <p tabindex="0" onclick="window.location.href='/login'">Login</p>
                        <p tabindex="0" onclick="window.location.href='/signup'">Signup</p>
                    <% } %>
                    <% if(currUser) { %>
                        <p tabindex="0" onclick="window.location.href='/logout'">Logout</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-2">
        <div class="search-box search-hidden">
            <div class="search-box-input-group">
                <input id="search-box-input-1" type="text" placeholder="Search destination">
            </div>
            <div class="search-box-input-group">
                <input type="text" placeholder="Check in">
            </div>
            <div class="search-box-input-group">
                <input type="text" placeholder="Check out">
            </div>
            <div class="search-box-input-group">
                <input type="text" placeholder="Add guests">
            </div>
            <i class="ri-search-line search-icon"></i>
        </div>


        <!-- Media 850px -> Start -->
        <div class="m-hidden-850 navbar-1">
            <div class="nav-center">
                <div class="nav-center-option" onclick="window.location.href='/home'">
                    <img src="/images/home.png">
                    <p>Homes</p>
                </div>
                <div class="nav-center-option">
                    <img src="/images/experience.png">
                    <p>Experiences</p>
                </div>
                <div class="nav-center-option">
                    <img src="https://res.cloudinary.com/dypp4lo45/image/upload/v1760748429/services_erxka4.png">
                    <p>Services</p>
                </div>
            </div>
        </div>
        <!-- Media 850px -> end -->


    </div>
</div>

<% if(success && success.length > 0){ %>
    <div id="flash-message" class="flash-msg flash-success">
        <%= success %>
    </div>
<% } %>

<% if(error && error.length > 0){ %>
    <div id="flash-message" class="flash-msg flash-error">
        <%= error %>
    </div>
<% } %>

<% if(edited && edited.length > 0){ %>
    <div id="flash-message" class="flash-msg flash-edited">
        <%= edited %>
    </div>
<% } %>

<% if(reviewCreated && reviewCreated.length > 0){ %>
    <div id="flash-message" class="flash-msg flash-reviewCreated">
        <%= reviewCreated %>
    </div>
<% } %>

<% if(reviewDeleted && reviewDeleted.length > 0){ %>
    <div id="flash-message" class="flash-msg flash-reviewDeleted">
        <%= reviewDeleted %>
    </div>
<% } %>